.DS_Store

node_modules
.env
coverage
coverage.json
typechain
typechain-types
crytic-export

# echidna corpus
echidna_e2e_corpus
echidna_e2e_erc20programmaticbalance_corpus

# Hardhat files
cache
artifacts

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
